body {
  background-image: url("../../assets/15592790_5634934.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #aaa;
  padding: 20px;
  color: white;
}

h1 {
  color: #fff;
  text-align: center;
}

h2 {
  color: #fff;
}

form {
  background-color: #00000099;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20rem;
  margin-left: 20rem;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

a:hover {
  text-decoration: underline;
}

.team-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
